<html>
	<body>
		<div class="topnav" id="myTopnav" th:fragment="header">
		<!--	<img class="logo" src="./Pictures/WRK_Logo.jpg" alt="Logo"> -->
			<a href="/" class="active">MATILDA</a>
			<div class="dropdown">
			 <button class="dropbtn">Materialverwaltung
				<i class="fa fa-caret-down"></i>
			 </button>
			 <div class="dropdown-content">
				<a href="material">Materialeingabe</a>
			 </div>
			</div>
			
			<div class="dropdown">
			 <button class="dropbtn">Veranstaltung
				<i class="fa fa-caret-down"></i>
			 </button>
			 <div class="dropdown-content">
				<a href="veranstaltung">Veranstaltung erstellen</a>
			 </div>
			</div>
			
			<div class="dropdown">
			 <button class="dropbtn">Typen
				<i class="fa fa-caret-down"></i>
			 </button>
			 <div class="dropdown-content">
				<a href="/einheitentyp">Einheitentyp</a>
				<a href="/mitarbeitertyp">Mitarbeitertyp</a>
				<a href="/materialtyp">Materialtyp</a>
			 </div>
			</div>
			<a href="/lagerstandort" class="active">Lagerstandort</a>

			<div class="dropdownAdmin">
				<button class="dropbtnAdmin">Konto
					<i class="fa fa-caret-down"></i>
			 	</button>
				<div class="dropdown-content-admin">
					<div security:authorize access="hasAnyRole('ADMIN', 'BENUTZER')">
						<a href="mitarbeiterverwaltung">Mitarbeiterverwaltung</a>
						<a href="registration">Benutzerregistrierung</a>
						<a href="passwordaenderung">Passwort ändern</a>
					</div>
					<div>
						<a href="javascript: document.logoutForm.submit()" > Sign out </a>
						<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      						<input hidden type="submit" value="Logout"/>
						</form>
					</div>
				</div>
			</div>
			
		<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
				
		</div>

		<script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>
		
		<div>
			<p>&nbsp;</p>
		</div>
	</body>
</html>