<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<body>
		<div class="topnav" id="myTopnav" th:fragment="header">
		<!--	<img class="logo" src="./Pictures/WRK_Logo.jpg" alt="Logo"> -->
			<a href="/" class="active">MATILDA</a>
			<a href="/material" class="active">Material</a>
			<a href="/veranstaltung" class="active">Veranstaltung</a>
			
			<div class="dropdown">
				<div sec:authorize="hasAuthority('ADMIN') or hasAuthority('SUPERVISOR')">
				<button class="dropbtn">Erstellen von:
						<i class="fa fa-caret-down"></i>
				</button>
				 <div class="dropdown-content">
					 <!-- TODO use thymeleaf resolver of URLs -->
					<a th:href="@{/materialtyp}">Materialtyp</a>
					<a th:href="@{/einheitentyp}">Einheitentyp</a>
					<a th:href="@{/mitarbeitertyp}">Mitarbeitertyp</a>
				</div>
			 </div>
		</div>
			<div sec:authorize="hasAuthority('ADMIN') or hasAuthority('SUPERVISOR')">
				<a th:href="@{/lagerstandort}" class="active">Lagerstandort</a>
			</div>
			<a th:href="@{/report}" class="active">Report</a>
			
			<div class="dropdownAdmin">
				<button class="dropbtnAdmin" th:text="#{konto}">
					<i class="fa fa-caret-down"></i>
			 	</button>
				<div class="dropdown-content-admin">
					<div sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{/mitarbeiterverwaltung}">Mitarbeiterverwaltung</a>
						<a th:href="@{/registration}" th:text="#{benutzerregistrierung}"></a>
					</div>
						<a th:href="@{/passwordaenderung}" th:text="#{passwort_aendern}"></a>
					<div>
						<a th:href="@{javascript: document.logoutForm.submit()}" > Sign out </a>
						<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      						<input hidden type="submit" value="Logout"/>
						</form>
					</div>
				</div>
			</div>
			
		<a th:href="@{javascript:void(0);}" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
				
		</div>

		<script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>
		
		<div>
			<p>&nbsp;</p>
		</div>
	</body>
</html>