<html>
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	<body>
		<div class="topnav" id="myTopnav" th:fragment="header">
		<!--	<img class="logo" src="./Pictures/WRK_Logo.jpg" alt="Logo"> -->
			<a href="/" class="active">MATILDA</a>
			<div class="dropdown">
				<a href="/material" class="active">Material</a>
				<a href="/veranstaltung" class="active">Veranstaltung</a>
			</div>
			
			<div class="dropdown">
			<button class="dropbtn">Erstellen von:
					<i class="fa fa-caret-down"></i>
				 </button>
				 <div class="dropdown-content">
					<a href="/einheitentyp">Einheitentyp</a>
					<a href="/mitarbeitertyp">Mitarbeitertyp</a>
					<a href="/materialtyp">Materialtyp</a>
				 </div>
			</div>
			<a href="/lagerstandort" class="active">Lagerstandort</a>
			<a href="/report" class="active">Report</a>

			<div class="dropdownAdmin">
				<button class="dropbtnAdmin" th:text="#{konto}">
					<i class="fa fa-caret-down"></i>
			 	</button>
				<div class="dropdown-content-admin">
					<div sec:authorize="hasAuthority('ADMIN')">
						<a href="mitarbeiterverwaltung">Mitarbeiterverwaltung</a>
						<a href="registration" th:text="#{benutzerregistrierung}"></a>
					</div>
						<a href="passwordaenderung" th:text="#{passwort_aendern}"></a>
					<div>
						<a href="javascript: document.logoutForm.submit()" > Sign out </a>
						<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      						<input hidden type="submit" value="Logout"/>
						</form>
					</div>
				</div>
			</div>
			
		<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
				
		</div>

		<script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>
		
		<div>
			<p>&nbsp;</p>
		</div>
	</body>
</html>