* {
	font-family: Arial;
}

h1 {
	color: #b60e0c;
	text-align: left;
	font-size: 28px;
	position: left;
	margin-left: 25px;
}

h2, h3 {
	color: #222;
	margin-left: 5px;
	font-family: Arial;
}

h4 {
	color: #b60e0c;
	font-size: 32px;
	font-weight: bold;
	font-family: Arial;
}

.error-message {
	color: #a94442;
	font-size: 20px;
}

.error-message:first-letter {
	text-transform: capitalize;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

/* ------------------- HINTERGRUNDFARBE ----------------*/
.genBackground {
	background-color: #eeeeee;
	/*	background-image: url("../pics/WRK_Logo.png"); */
}

/*############################ BUTTONS ############################### */
.buttons {
	color: rgb(182, 14, 12);
	font-size: 15px;
	line-height: 18px;
	padding: 6px;
	border-radius: 7px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	border: 1px solid;
	display: inline-block;
	background: #fffffe;
}

.buttons:hover {
	background: #ffffee;
	cursor: pointer;
}

.buttons:active {
	background: #caffca;
	cursor: pointer;
}

.buttons a {
	color: rgb(182, 14, 12);
	text-decoration: none;
}

/*############################ BIGBUTTONS ############################### */
.bigButtons {
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	padding: 9px;
	border-radius: 14px;
	font-family: Arial, serif;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	border: 2px solid #fff;
	display: inline-block;
	background: #b60e0cee;
	margin-top: 20px;
	box-shadow: #b60e0c 1px 1px 1px 1px;
	cursor: pointer;
}

.bigButtons:hover {
	background: #fffffe;
	color: #b60e0c;
	cursor: pointer;
}

.bigButtons:active {
	background: #caffca;
	cursor: pointer;
}

.bigButtons:hover a {
	color: #b60e0c;
	text-decoration: none;
}

.bigButtons a {
	color: #fff;
	text-decoration: none;
}

/*############################ MAIN TABLE ############################### */
table.mainTable {
	border: 2px solid #A40808;
	background-color: #F5F5F5;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	margin-right: 5px;
}

table.mainTable td, table.mainTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
	font-family: Arial;
}

table.mainTable tbody td {
	font-size: 15px;
	/*font-weight: bold;*/
}

table.mainTable tr:nth-child(even) {
	background: #eeeeee;
}

table.mainTable thead {
	background: #B60E0C;
}

table.mainTable thead th {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #B60E0C;
}

table.mainTable thead th:first-child {
	border-left: none;
}

table.mainTable tfoot {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background: #B60E0C;
}

table.mainTable tfoot td {
	font-size: 16px;
}

table.mainTable tfoot .links {
	text-align: right;
}

table.mainTable tfoot .links a {
	display: inline-block;
	background: #FFFFFF;
	color: #A40808;
	padding: 2px 8px;
	border-radius: 5px;
}

table.mainTable input[type=text] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	font-size: 16px;
	text-align: center;
}

/*############################ TOOLTIPS ############################### */
.CellWithComment {
	position: relative;
}

.CellComment {
	display: none;
	position: absolute;
	z-index: 100;
	border: 1px;
	background-color: #ffe;
	border-style: solid;
	border-width: 1px;
	border-color: #b60e0c;
	padding: 3px;
	color: black;
	bottom: 1.65rem;
	font-weight: normal;
	min-width: 5rem;
	max-width: 10rem;
}

.CellWithComment:hover span.CellComment {
	display: inherit;
}