<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<title>Buchungen</title>
</head>
<body>
<h1>Buchung Übersicht (Letzte 29 Tagen)</h1>
<div th:unless="${#lists.isEmpty(buchungsInLager)}">
<table class="table table-striped">
<thead>
<tr>
<th>Bezeichnung</th>
<th>Menge</th>
<th>Art</th>
<th>Beschreibung</th>
<th>Erstellt am</th>
<th>Erstellt von</th>
</tr>
</thead>
<dl th:each="buchung : ${buchungsInLager}">
<tr>
<td th:text="${buchung.material.bezeichnung}"></td>
<td th:text="${buchung.menge}"></td>
<td th:text="${buchung.art}"></td>
<td th:text="${buchung.beschreibung}"></td>
<td th:text="${buchung.createdAt}"></td>
<td th:text="${buchung.modifiedBy}"></td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(buchungsInLager)}">
<p>Es gibt keine Buchungen</p>
</div>
<hr/>


</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>