<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	<head th:replace="/fragment/header :: header"></head>
	<title>Buchung</title>
</head>
<body class="genBackground">
	<div class="container">
		<form action="#" th:action="@{/buchung}" th:object="${buchung}"
			method="post">

			<h2>Augewähltes Material buchen</h2>
			<table class="mainTable">
				<thead>
					<tr>
						<th>Materialtyp</th>
						<th>Bezeichnung</th>
						<th>Akt.Bestand</th>
						<th>Seriennummer</th>
						<th>Lager</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${buchung.material.materialtyp.name}"></td>
						<td th:text="${buchung.material.bezeichnung}"></td>
						<td th:text="${buchung.material.bestand}"></td>
						<td th:text="${buchung.material.seriennummer}"></td>
						<td th:text="${buchung.material.lagerstandort.name}"></td>
					</tr>
				</tbody>
			</table>
<hr>
			<h3>Buchungsschein:</h3>
			<div class="row"
				th:classappend="${#fields.hasErrors('menge')}? 'has-error':''">
				<div class="col-50">
				<label for="menge" class="control-label">Menge</label> <input
					id="menge" type="number" min="1" class="form-control"
					th:field="*{menge}" />
				<p class="error-message" th:each="error: ${#fields.errors('menge')}"
					th:text="${error}">Validation error</p>
				</div>
			</div>

			<div class="row"
				th:classappend="${#fields.hasErrors('beschreibung')}? 'has-error':''">
				<div class="col-50">
				<label for="beschreibung" class="control-label">Beschreibung</label>
				<input id="beschreibung" type="text"
					th:field="*{beschreibung}" placeholder="Beschreibung.."/>
				<p class="error-message"
					th:each="error: ${#fields.errors('beschreibung')}"
					th:text="${error}">Validation error</p>
				</div>
			</div>

			<div class="row"
				th:classappend="${#fields.hasErrors('veranstaltung')}? 'has-error':''">
				<div class="col-50">
				<label for="veranstaltung" class="control-label">Veranstaltung</label>
				<select th:field="*{veranstaltung}">
					<option th:value="null">None</option>
					<option th:each="veranstaltung : ${alleVeranstaltungen}"
						th:value="${veranstaltung.id}" th:text="${veranstaltung.name}"></option>
				</select>
				<p class="error-message"
					th:each="error: ${#fields.errors('veranstaltung')}"
					th:text="${error}">Validation error</p>
				</div>
			</div>
			
<!-- wenn eine Veranstaltung ausgewählt wurde, müssen 'von' und 'bis' locked sein!!  -->
			<div class="row"
				th:classappend="${#fields.hasErrors('von')}? 'has-error':''">
				<div class="col-50">
				<label for="von" class="control-label">Von</label>
				 <input id="von" type="datetime-local" th:field="*{von}"
				  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} / [0-9]{2}:[0-9]{2}" placeholder="dd-mm-yyyy / hh:mm" />
				</div>
				<p class="error-message"
					th:each="error: ${#fields.errors('von')}" th:text="${error}">Validation
					error</p>
			</div>

			<div class="row"
				th:classappend="${#fields.hasErrors('bis')}? 'has-error':''">
				<div class="col-50">
					<label for="bis" class="control-label">Bis</label> 
					<input id="bis" type="datetime-local" th:field="*{bis}"
					pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} / [0-9]{2}:[0-9]{2}" placeholder="dd-mm-yyyy / hh:mm" />
				</div>
				<p class="error-message" th:each="error: ${#fields.errors('bis')}"
					th:text="${error}">Validation error</p>
			</div>
			<p>
				<input type="submit" value="Bestätigen"/>
			</p>
			<button onclick="goBack()" class="bigButtons">Abbrechen</button>
		<script>
			function goBack() {
				window.history.back();
			}
		</script>
		</form>
	</div>
</body>
</html>