<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
 	<link rel="stylesheet" th:href="@{/css/index.css}"/>
 	<link rel="import" href="/fragment/topnav.html">
 	<title>Einheitentyp</title>
</head>
	<body>
		<head th:replace="/fragment/header :: header"></head>	
		<div th:replace="/fragment/footer :: footer"></div>

	<h3>Einen neuen Einheitentyp hinzuf&uuml;gen</h3>
    <form action="#" th:action="@{/einheitentyp}" th:object="${einheitentyp}" method="post">
    
	    <p class="error-message"
	    th:if="${#fields.hasGlobalErrors()}"
	    th:each="error : ${#fields.errors('global')}"
 		th:text="${error}">Validation error</p>
                   
		<div class="form-group"
        th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
        <label for="name" class="control-label">Name</label>
        <input id="name"
        class="form-control"
        th:field="*{name}"/>
        <p class="error-message"
       	th:each="error: ${#fields.errors('name')}"
        th:text="${error}">Validation error</p>
       	</div>
		
        <p><input type="submit" value="Submit" /> </p>
    </form>

<h2>Übersicht Einheitentypen</h2>

<div th:unless="${#lists.isEmpty(einheitentypen)}">
<table class="table table-striped">
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<dl th:each="einheitentyp : ${einheitentypen}">
<tr>
<td th:text="${einheitentyp.name}"></td>
<td>
<a href="#" data-th-href="@{/einheitentypupdate/{id}(id=${einheitentyp.id})}">&Auml;ndern</a>
</td>
<td>
<a href="#" data-th-href="@{/mitarbeitereinheit/{id}(id=${einheitentyp.id})}"> -> Mitarbeitertyp</a>
</td>
<td>
<a href="#" data-th-href="@{/materialeinheit/{id}(id=${einheitentyp.id})}"> -> Materialtyp</a>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(einheitentypen)}">
<p>Es gibt kein Einheitentyp</p>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Der neue Einheitentyp wurde erfolgreich eingetragen!
                </div>
            </div>
			            <div th:if="${param.loeschen}">
                <div class="alert alert-info">
                    Der Einheitentyp wurde erfolgreich gelöscht!
                </div>
            </div>
            
            <div th:if="${param.nochange}">
                <div class="alert alert-info">
                    Der Einheitentyp wurde nicht geändert!
                </div>
            </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>