<!doctype html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
		<title th:text="@{${@environment.getProperty('matilda.mainsite')}}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	 	<link rel="stylesheet" th:href="@{/css/index.css}"/>
		<link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
		<head th:replace="/fragment/header :: header"></head>
</head>
<body class="genBackground">
<br>
	<div id='calendar'></div>
</body>
	
<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
<script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>
<script src='webjars/fullcalendar/3.5.1/dist/locale-all.js'></script>
<script th:inline="javascript">
		
		// currently, buttons have been deleted
		var list_day = [[#{calendar.list_day}]];
		var list_week = [[#{calendar.list_week}]];
		var list_month = [[#{calendar.list_month}]];
		
		// reads language from browser, works for IE/SAFARI/CHROME/FF
		var language = window.navigator.userLanguage || window.navigator.language;

		$(document).ready(function() {
			$('#calendar').fullCalendar({
				locale: '' + language + '',
				allDayText: '',
				height: "auto",
				header: {
			    	left: 'prev',
					center: 'title',
			        right: 'month,agendaWeek,agendaDay,next'
				},
				// customize the button names,
				// otherwise they'd all just say "list"
				views: {
			    	listDay: { buttonText: '' + list_day + '' },
			        listWeek: { buttonText: '' + list_week + '' },
			        listMonth: { buttonText: '' + list_month + '' }
				},
				defaultView: 'month',
			    navLinks: false,		// can click day/week names to navigate views
			    editable: false,	// events are not drag 'n dropable
			    eventLimit: true,	// allow "more" link when too many events
				events: {
					url : '/api/event/all'
				}
			});
		});
		</script>
</html>