<!doctype html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
		<head th:fragment="head">
		<title th:text="@{${@environment.getProperty('matilda.mainsite')}}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<div th:replace="/fragment/footer :: footer"></div>
	    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	 	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	 	<link rel="import" href="/fragment/topnav.html">
		<link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
		<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
		<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
		<script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$('#calendar').fullCalendar({
				height: 655,
				events: {
					url : '/api/event/all'
				}
			});
		});
		</script>
	</head>
	<body>
		<head th:replace="/fragment/header :: header"></head>
		<div id='calendar'></div>
	</body>
</html>