<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	<head th:replace="/fragment/header :: header"></head>
    <title>Inventur</title>
</head>
<body class="genBackground">
	<div class="container">
	<h2>Inventur</h2>
    <form action="#" th:action="@{/inventur}" th:object="${material}" method="post">
    
    	<p class="error-message"
	    th:if="${#fields.hasGlobalErrors()}"
	    th:each="error : ${#fields.errors('global')}"
 		th:text="${error}">Validation error</p>
        
        <div class="row"
			th:classappend="${#fields.hasErrors('bezeichnung')}? 'has-error':''">
			<div class="col-50">
				<label for="bezeichnung">Bezeichnung</label> 
				<input type="text" th:field="*{bezeichnung}" placeholder="Bezeichung.."/>
				<p class="error-message"
					th:each="error: ${#fields.errors('bezeichnung')}"
					th:text="${error}">Validation error</p>
			</div>
		</div>
		
        <div class="row"
        th:classappend="${#fields.hasErrors('bestand')}? 'has-error':''">
        <div class=col-50>
        <label for="bestand">Bestand</label>
        <input id="bestand" type="number" th:field="*{bestand}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('bestand')}"
        th:text="${error}">Validation error</p>
        </div>
               
		<div class="row"
        th:classappend="${#fields.hasErrors('seriennummer')}? 'has-error':''">
        <div class=col-50>
        <label for="seriennummer">Seriennummer</label>
        <input id="seriennummer" type="text" th:field="*{seriennummer}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('seriennummer')}"
        th:text="${error}">Validation error</p>
        </div>
    	
		<div class="row"
        th:classappend="${#fields.hasErrors('einkaufsdatum')}? 'has-error':''">
        <div class=col-50>
        <label for="einkaufsdatum">Einkaufsdatum</label>
        <input id="einkaufsdatum" type="date" th:field="*{einkaufsdatum}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('einkaufsdatum')}"
        th:text="${error}">Validation error</p>
		</div>
		
		<div class="row"
        th:classappend="${#fields.hasErrors('letztesudatum')}? 'has-error':''">
        <div class=col-50>
        <label for="letztesudatum">Letztes Überprüfungsdatum</label>
        <input id="letztesudatum" type="date" th:field="*{letztesudatum}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('letztesudatum')}"
        th:text="${error}">Validation error</p>
        </div>
        
        <div class="row"
        th:classappend="${#fields.hasErrors('naechstesudatum')}? 'has-error':''">
        <div class=col-50>
        <label for="naechstesudatum">Nächstes Überprüfungsdatum</label>
        <input id="naechstesudatum" type="date" th:field="*{naechstesudatum}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('naechstesudatum')}"
        th:text="${error}">Validation error</p>
        </div>
        
        <div class="row"
        th:classappend="${#fields.hasErrors('einsatzbereitschaft')}? 'has-error':''">
        <div class=col-50>
        <label for="einsatzbereitschaft">Einsatzbereitschaft</label>
        <input id="einsatzbereitschaft" type="checkbox" th:field="*{einsatzbereitschaft}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('einsatzbereitschaft')}"
        th:text="${error}">Validation error</p>
        </div>
        
        <p><input type="submit" value="Bestätigen"/></p>
        <p><input type="button" class="bigButtons" onclick="goBackToMaterialverwaltung()" value="Zurück"/></p>
			<script>
			function goBackToMaterialverwaltung() {
			    window.location.href="../materialverwaltung/1";
			}
			</script>
    </form>
</div>
</body>
</html>