<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Material-Einheitentyp Aktualisieren</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Material-Einheitentyp</h1>
    <form action="#" th:action="@{/mateinupdate/{id}(id=${materialtyp_einheitentyp.id})}" th:object="${materialtyp_einheitentyp}" method="post">
    	
		<p class="error-message"
	    th:if="${#fields.hasGlobalErrors()}"
	    th:each="error : ${#fields.errors('global')}"
 		th:text="${error}">Validation error</p>
       	
       	<div class="form-group"
        th:classappend="${#fields.hasErrors('einheitentyp')}? 'has-error':''">
        <label for="einheitentyp" class="control-label">Einheitentyp</label>
        <p th:text="${materialtyp_einheitentyp.einheitentyp.name}" ></p>
		<p class="error-message"
       	th:each="error: ${#fields.errors('einheitentyp')}"
        th:text="${error}">Validation error</p>
       	</div>     		  	
    	
    	<div class="form-group"
        th:classappend="${#fields.hasErrors('manzahl')}? 'has-error':''">
        <label for="manzahl" class="control-label">Anzahl des Materialtyps</label>
        <input id="manzahl"
        type="number"
        min="1"
        class="form-control"
        th:field="*{manzahl}"/>
        <p class="error-message"
       	th:each="error: ${#fields.errors('manzahl')}"
        th:text="${error}">Validation error</p>
       	</div>                 	
		
		<div class="form-group"
        th:classappend="${#fields.hasErrors('materialtyp')}? 'has-error':''">
        <label for="materialtyp" class="control-label">Materialtyp</label>
        <select th:field="*{materialtyp}">
  			<option th:each="materialtyp : ${alleMaterialtypen}" 
         	 th:value="${materialtyp.id}" 
       	     th:text="${materialtyp.name}"></option>
		</select></p>
		<p class="error-message"
       	th:each="error: ${#fields.errors('materialtyp')}"
        th:text="${error}">Validation error</p>
       	</div> 
		
        <p><input type="submit" value="Submit" /> </p>
    </form>
	<button onclick="goBack()">Abbrechen</button>
	<script>
	function goBack() {
	    window.history.back();
	}
	</script>
</body>
</html>