<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
 	<link rel="import" href="/fragment/topnav.html">
 	<title>Materialtyp</title>
</head>
	<body>
		<head th:replace="/fragment/header :: header"></head>	

	<h2>Einen neuen Materialtyp hinzuf&uuml;gen</h2>
<div class="container">
    <form action="#" th:action="@{/materialtyp}" th:object="${materialtyp}" method="post">
    
    	<p class="error-message"
	    th:if="${#fields.hasGlobalErrors()}"
	    th:each="error : ${#fields.errors('global')}"
 		th:text="${error}">Validation error</p>
                   
		<div class="row"
        th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
        <div class="col-50">
	        <label for="name">Name</label>
	        <input id="name" type="text" th:field="*{name}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('name')}"
        th:text="${error}">Validation error</p>
       	</div>
		
		<div class="row"
        th:classappend="${#fields.hasErrors('menge')}? 'has-error':''">
         <div class="col-50">
        <label for="menge" >Menge</label>
        <input id="menge" type="text" th:field="*{menge}"/>
         </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('menge')}"
        th:text="${error}">Validation error</p>
       	</div>
        
       	<div class="row"
        th:classappend="${#fields.hasErrors('beschreibung')}? 'has-error':''">
        <div class="col-50">
        <label for="beschreibung">Beschreibung</label>
        <input id="beschreibung" type="text"  th:field="*{beschreibung}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('beschreibung')}"
        th:text="${error}">Validation error</p>
       	</div>
       	
       	<div class="row"
        th:classappend="${#fields.hasErrors('link')}? 'has-error':''">
        <div class="col-50">
        <label for="link">Link zum Benutzerhandbuch</label>
        <input id="link" type="url"  th:field="*{link}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('link')}"
        th:text="${error}">Validation error</p>
       	</div>
       	
        <p><input type="submit" value="Bestätigen"/></p>
  </form>
 </div>  
   
<h3>Übersicht Materialtyp</h3>
<div th:unless="${#lists.isEmpty(materialtypen)}">
<table class="mainTable" id="sortTable">
<thead>
<tr>
<th>Name</th>
<th>Menge</th>
<th>Beschreibung</th>
<th>Link</th>
</tr>
</thead>
<dl th:each="materialtyp : ${materialtypen}">
<tr>
<td th:text="${materialtyp.name}"></td>
<td th:text="${materialtyp.menge}"></td>
<td th:text="${materialtyp.beschreibung}"></td>
<td th:text="${materialtyp.link}"></td>
<td>
	<a href="#" data-th-href="@{/materialtypupdate/{id}(id=${materialtyp.id})}">
	<input type="button" value="Ändern" class="buttons"/>
	</a>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(materialtypen)}">
<p>Es gibt kein Materialtyp</p>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Der neue Materialtyp wurde erfolgreich eingetragen!
                </div>
            </div>
			<div th:if="${param.loeschen}">
                <div class="alert alert-info">
                    Der  Materialtyp wurde erfolgreich gelöscht!
                </div>
            </div>       
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sortTable.js}"/></script>
</body>