<!doctype html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
		<head th:fragment="head">
		<title th:text="@{${@environment.getProperty('matilda.mainsite')}}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<div th:replace="/fragment/footer :: footer"></div>
	    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	 	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	 	<link rel="import" href="/fragment/topnav.html">
		<link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
		<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
		<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
		<script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$('#calendar').fullCalendar({
				height: 655,
				events: {
					url : '/api/event/all'
				}
			});
		});
		</script>
	</head>
	<body>
		<head th:replace="/fragment/header :: header"></head>
	     
<h3>Ein neues Material hinzufügen</h3>
<form action="#" th:action="@{/material}" th:object="${material}" method="post">
    	<p> Materialtyp:
        <select th:field="*{materialtyp}">
  			<option th:each="materialtyp : ${alleMaterialtypen}" 
         	 th:value="${materialtyp.id}" 
       	     th:text="${materialtyp.name}"></option>
		</select></p>
		
    	<p>Seriennummer: <input type="text" th:field="*{seriennummer}" /></p>
    	<p>Bestand: <input type="number" th:field="*{bestand}" /></p>
    	<div th:if="${param.nobestand}">
		<div class="alert alert-info">
		Bestand muss größer als 0 sein.
		</div>
		</div>   	
    	<p>Einkaufsdatum: <input type="date" th:field="*{einkaufsdatum}" /></p>
    	<p>Letztes Überprüfungsdatum:<input type="date" th:field="*{letztesudatum}" /></p>
    	<p>Nächstes Überprüfungsdatum:<input type="date" th:field="*{naechstesudatum}" /></p>
    	<p>Einsatzbereitschaft: <input type="checkbox" th:field="*{einsatzbereitschaft}" />
    	
        <p><input type="submit" value="Submit" /> </p>
</form><div class="container">
<h2>Aktuelle Materialen im Lager</h2>
<div th:unless="${#lists.isEmpty(materialien)}">
<table class="table table-striped">
<thead>
<tr>
<th>Material</th>
<th>Bestand</th>
<th>Seriennummer</th>
<th>Einkaufsdatum</th>
<th>Letzte Überprüfungsdatum</th>
<th>Nächste Überprüfungsdatum</th>
<th>Einsatzbereichtschaft</th>
</tr>
</thead>
<dl th:each="material : ${materialien}">
<tr>
<td th:text="${material.materialtyp.name}"></td>
<td th:text="${material.bestand}"></td>
<td th:text="${material.seriennummer}"></td>
<td th:text="${material.einkaufsdatum}"></td>
<td th:text="${material.letztesudatum}"></td>
<td th:text="${material.naechstesudatum}"></td>
<td th:text="${material.einsatzbereitschaft}"></td>
<td>
<a href="#" data-th-href="@{/lieferung/{id}(id=${material.id})}">Lieferung(Eingabe/Ausgabe)</a>
</td>
<td>
<a href="#" data-th-href="@{/buchung/{id}(id=${material.id})}">Buchen/Stornieren</a>
</td>
<td>
<a href="#" data-th-href="@{/inventur/{id}(id=${material.id})}">Inventur</a>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(materialien)}">
<p>Es gibt kein Material in diesem Lager</p>
</div>
<hr/>

        <div class="col-md-6 col-md-offset-3">


            <div th:if="${param.nomaterial}">
                <div class="alert alert-info">
                    Es Gibt kein Material in diesem Lager!
                </div>
            </div>
            
            <div th:if="${param.erfolgreich}">
                <div class="alert alert-info">
                    Der Lieferschein wurde erflogreich eingetragen!
                </div>
            </div>

</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>