<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/> 
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
 	<link rel="import" href="/fragment/topnav.html">
</head>
<body class="genBackground">
		<head th:replace="/fragment/header :: header"></head>	
	     
<h1>Aktuelle Lager</h1>
<h3>Wählen Sie ein Lager aus, um das Material zu verwalten!</h3>
<div th:unless="${#lists.isEmpty(lagerstandorten)}">
<table class="mainTable">
<thead>
<tr>
<th>Name</th>
<th>Adresse</th>
</tr>
</thead>
<dl th:each="lagerstandort : ${lagerstandorten}">
<tr>
<td th:text="${lagerstandort.name}"></td>
<td th:text="${lagerstandort.adresse}"></td>
<td>
	<a href="#" data-th-href="@{/materialverwaltung/{id}(id=${lagerstandort.id})}">
	<input type="Button" value="Material" class="buttons"/>
	</a>
</td>
<td>
	<a href="#" data-th-href="@{/lieferungview/{id}(id=${lagerstandort.id})}">
	<input type="Button" value="Lieferungen" class="buttons"/>
	</a>
</td>
<td>
	<a href="#" data-th-href="@{/buchungview/{id}(id=${lagerstandort.id})}">
	<input type="Button" value="Buchungen" class="buttons"/>
	</a>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(lagerstandorten)}">
<p>Es gibt keinen Lagerstandort</p>
</div>
<hr/>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Der neue Lagerstandort wurde erfolgreich eingetragen!
                </div>
            </div>

</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>