<!doctype html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
		<head th:fragment="head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	 	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
	 	<link rel="import" href="/fragment/topnav.html">
		<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
		<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
		
		<title th:text="@{${@environment.getProperty('matilda.mainsite')}}"></title>
		
</head>
<body>
		<head th:replace="/fragment/header :: header"></head>
<h2>Aktuelles Material im Lager</h2>
<div th:unless="${#lists.isEmpty(materialien)}">
<table class="mainTable">
<thead>
<tr>
<th>Materialtyp</th>
<th>Bezeichnung</th>
<th>Seriennummer</th>
<th>Bestand</th>
<th>Einkaufs- datum</th>
<th>Letztes Überprüfungs- datum</th>
<th>Nächstes Überprüfungs- datum</th>
<th>Einsatz- bereitschaft</th>
</tr>
</thead>
<dl th:each="material : ${materialien}">
<tr>
<td th:text="${material.materialtyp.name}"></td>
<td th:text="${material.bezeichnung}"></td>
<td th:text="${material.seriennummer}"></td>
<td th:text="${material.bestand}"></td>
<td th:text="${material.einkaufsdatum}"></td>
<td th:text="${material.letztesudatum}"></td>
<td th:text="${material.naechstesudatum}"></td>
<td th:text="${material.einsatzbereitschaft}"></td>
<td>
	<a href="#" data-th-href="@{/buchung/{id}(id=${material.id})}">
	<input type="Button" value="Buchen/Stornieren" class="buttons"/>
	</a>
</td>
<td>
	<a href="#" data-th-href="@{/lieferung/{id}(id=${material.id})}">
	<input type="Button" value="neue Lieferung" class="buttons"/>
	</a>
</td>
<td>
	<a href="#" data-th-href="@{/inventur/{id}(id=${material.id})}">
	<input type="Button" value="Inventur" class="buttons"/>
	</a>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(materialien)}">
<p>Es gibt kein Material in diesem Lager</p>
</div>
	<a href="#" data-th-href="@{/neumaterial}">
	<input type="button" value="Material hinzufügen" class="bigButtons"/>
	</a>
<hr/>
<input type="button" value="Zurück" class="bigButtons" onClick="gotoMaterial()" />
			<script>
			function gotoMaterial() {
			    window.location.href="../material";
		     }
			</script>

        <div class="col-md-6 col-md-offset-3">


            <div th:if="${param.nomaterial}">
                <div class="alert alert-info">
                    Es gibt kein Material in diesem Lager!
                </div>
            </div>
            
            <div th:if="${param.erfolgreich}">
                <div class="alert alert-info">
                    Der Lieferschein wurde erfolgreich eingetragen!
                </div>
            </div>

</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sortTable.js}"/></script>
</body>