<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
 	<head th:replace="/fragment/header :: header"></head>
<title>Mitarbeitertyp-Einheitentyp</title>
</head>
<body>
<div class="container">		
<h2>Der Einheit Mitarbeitertypen zuweisen:</h2>
    <form action="#" th:action="@{/mitarbeitereinheit}" th:object="${mitarbeitertyp_einheitentyp}" method="post">
    	
    	<p class="error-message"
	    th:if="${#fields.hasGlobalErrors()}"
	    th:each="error : ${#fields.errors('global')}"
 		th:text="${error}">Validation error</p>    	
       	
       	<div class="row"
        th:classappend="${#fields.hasErrors('einheitentyp')}? 'has-error':''">
        <label for="einheitentyp">Einheitentyp:</label>
        <p th:text="${mitarbeitertyp_einheitentyp.einheitentyp.name}" style="font-size: 22px; color:darkred; text-decoration: underline;"></p>
		<p class="error-message"
       	th:each="error: ${#fields.errors('einheitentyp')}"
        th:text="${error}">Validation error</p>
       	</div>     		
    	
    	<div class="row"
        th:classappend="${#fields.hasErrors('mitarbeitertyp')}? 'has-error':''">
        <div class="col-50">
        <label for="mitarbeitertyp" class="control-label">Mitarbeitertyp</label>
        <select th:field="*{mitarbeitertyp}">
  			<option th:each="mitarbeitertyp : ${alleMitarbeitertypen}" 
         	 th:value="${mitarbeitertyp.id}" 
       	     th:text="${mitarbeitertyp.kuerzel}"></option>
		</select>
		</div>
		<p class="error-message"
       	th:each="error: ${#fields.errors('mitarbeitertyp')}"
        th:text="${error}">Validation error</p>
       	</div>  
    	
    	<div class="row"
        th:classappend="${#fields.hasErrors('manzahl')}? 'has-error':''">
        <div class="col-50">
        <label for="manzahl" class="control-label">Anzahl</label>
        <input id="manzahl" type="number" min="1" th:field="*{manzahl}"/>
        </div>
        <p class="error-message"
       	th:each="error: ${#fields.errors('manzahl')}"
        th:text="${error}">Validation error</p>
       	</div>
        <p><input type="submit" value="Bestätigen" /> </p>
    </form>
<br>
<br>
<h2>Übersicht zugewiesener Mitarbeitertypen</h2>
<div th:unless="${#lists.isEmpty(mitarbeitereinheiten)}">
<table class="mainTable" id="sortTable">
	<thead>
		<tr>
			<th>Mitarbeitertyp</th>
			<th>Anzahl</th>
			<th class="CellWithComment"><i class="far fa-question-circle"></i>
				<span class="CellComment" >Ändern der bereits zugewiesene Mitarbeitertypen</span>
			</th>
		</tr>
	</thead>
	<dl th:each="mitarbeitertyp_einheitentyp : ${mitarbeitereinheiten}">
	<tr>
		<td th:text="${mitarbeitertyp_einheitentyp.mitarbeitertyp.kuerzel}"></td>
		<td th:text="${mitarbeitertyp_einheitentyp.manzahl}"></td>
		<td>
			<a href="#" data-th-href="@{/miteinupdate/{id}(id=${mitarbeitertyp_einheitentyp.id})}">
			<input type="button" value="Ändern" class="buttons">
			</a>
		</td>
	</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(mitarbeitereinheiten)}">
	<p>Es gibt noch keine Zuweisungen..</p>
</div>
<hr/>
<input type="button" value="Zurück" class="bigButtons" onClick="gotoEinheitentyp()"/>
        	<script>
        	function gotoEinheitentyp() {
			    window.location.href="../einheitentyp";
		     }
        	</script>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Die neue Zuweisung des Mitarbeitertyp zu der Einheit wurde erfolgreich eingetragen!
                </div>
            </div>
            <div th:if="${param.loeschen}">
                <div class="alert alert-info">
                    Die Mitarbeitertyp-Einheitentyp wurde erfolgreich gelöscht!
                </div>
            </div>
         </div>
	</div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sortTable.js}"/></script>
</body>