<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
 	<link rel="stylesheet" th:href="@{/css/index.css}"/>
 	<link rel="import" href="/fragment/topnav.html">
</head>
	<title th:text="@{${@environment.getProperty('matilda.events')}}"></title>
	<body>
		<head th:replace="/fragment/header :: header"></head>	
		<div th:replace="/fragment/footer :: footer"></div>
		<div class="container">
		    <div class="row">
		        <div class="col-md-6 col-md-offset-3">

					<form action="#" th:action="@{/mitarbeiterverwaltung}" th:object="${userForm}" method="post">
					    <fieldset>
					        <table border="1" align="center">
					            <thead>
					                <tr>
					                	<!-- <th:text = "#{mitarbeiterverwaltung.active}>Active ( Tick ) / Passive</th>-->
					                	<th>Active / Inaktiv</th>
					                	<th>ID</th>
					                	<th>Username</th>
					                    <th>Anzeigename</th>
					                    <th>Dienstnummer</th>
					                </tr>
					            </thead>
					            <tbody>
									<tr th:each="user, itemStat : *{users}">
										<td><input	type="checkbox"
													name="searchValues"
													th:value="${user.id}"
													th:checked="${user.isActive}"
										/>

									    <td><input	th:field="*{users[__${itemStat.index}__].id}" 
									    			readonly/></td>
									    <td><input	th:field="*{users[__${itemStat.index}__].username}" 
									    			readonly/></td>
									    <td><input	class="anzeigename" 
									    			type="text" 
									    			name="anzeigename" 
									    			th:field="*{users[__${itemStat.index}__].anzeigename}" 
									    			readonly/></td>
									    <td><input	class="dienstnummer" 
									    			type="text" 
									    			name="dienstnummer" 
									    			th:field="*{users[__${itemStat.index}__].dienstnummer}" 
									    			readonly/></td>
									</tr>
					            </tbody>
					        </table>
					        <br />
					        <div style="text-align:center;">
								<input type="submit" id="submitButton" th:value="Speichern"/>
							</div>
					    </fieldset>
					</form>
					</div>

		            <div th:if="${param.success}">
		                <div class="alert alert-info">
		                    The user status was successfully changed.
		                </div>
		            </div>
		         </div>
		    </div>
		</div>

		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

		<script>
		    function inputClick(id) {
		        var passwordFields = document.getElementsByClassName("passwordField");
		        for(i = 0; i < passwordFields.length; i++) {
		            passwordFields[i].disabled = true;
		        }
		        document.getElementById(id).removeAttribute('disabled');
		    }
		</script>
		
		<div th:replace="/fragment/footer :: footer"></div>
	</body>
</html>