<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<title>Mitarbeitertypen</title>
</head>
<body>
<h2>Mitarbeitertypen List</h2>

<form>
<input type="button" value="ein neuen Mitarbeitertyp hinzuf&uuml;gen" onclick="window.location.href='mitarbeitertyp'" />
</form>

<div th:unless="${#lists.isEmpty(mitarbeitertypen)}">
<table class="table table-striped">
<thead>
<tr>
<th>Kuerzel</th>
<th>Name</th>
</tr>
</thead>
<dl th:each="mitarbeitertyp : ${mitarbeitertypen}">
<tr>
<td th:text="${mitarbeitertyp.kuerzel}"></td>
<td th:text="${mitarbeitertyp.name}"></td>
<td>
<a href="#" data-th-href="@{/mitarbeitertypupdate/{id}(id=${mitarbeitertyp.id})}">&Auml;ndern</a>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(mitarbeitertypen)}">
<p>Es gibt kein Mitarbeitertyp</p>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Der neue Mitarbeitertyp wurde erfolgreich eingetragen!
                </div>
            </div>
			<div th:if="${param.loeschen}">
                <div class="alert alert-info">
                    Der Mitarbeitertyp wurde erfolgreich gelöscht!
                </div>
            </div>
            
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>