<!-- <!DOCTYPE html>  -->
<html xmlns:th="http://www.thymeleaf.org">
<head >
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
<head th:replace="/fragment/header :: header"></head>
<title>Verantaltung hinzufügen</title>
</head>
	<h3>Eine neue Veranstaltung erstellen</h3>
<body>
	<div class="container">
		<form action="#" th:action="@{/neuveranstaltung}"
			th:object="${veranstaltung}" method="post">

			<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
				th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
				error</p>

			<div class="row"
				th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
				<div class="col-50">
					<label for="name" class="control-label">Name</label>
					 <input	type="text" id="name" th:field="*{name}" />
				</div>
				<p class="error-message" th:each="error: ${#fields.errors('name')}"
					th:text="${error}">Validation error</p>
			</div>

			<div class="row"
				th:classappend="${#fields.hasErrors('lagerstandort')}? 'has-error':''">
				<div class="col-50">
				<label for="lagerstandort" class="control-label">Lagerstandort</label>
				<select th:field="*{lagerstandort}">
					<option th:each="lagerstandort : ${alleLagerstandorten}"
						th:value="${lagerstandort.id}" th:text="${lagerstandort.name}"></option>
				</select>
				</div>
				<p class="error-message"
					th:each="error: ${#fields.errors('lagerstandort')}"
					th:text="${error}">Validation error</p>
			</div>

			<div class="row"
				th:classappend="${#fields.hasErrors('beginn')}? 'has-error':''">
				<div class="col-50">
				<label for="beginn" class="control-label">Beginn</label>
				 <input id="beginn" type="datetime-local" th:field="*{beginn}"
				  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} / [0-9]{2}:[0-9]{2}" placeholder="dd-mm-yyyy / hh:mm" />
				</div>
				<p class="error-message"
					th:each="error: ${#fields.errors('beginn')}" th:text="${error}">Validation
					error</p>
			</div>

			<div class="row"
				th:classappend="${#fields.hasErrors('ende')}? 'has-error':''">
				<div class="col-50">
					<label for="ende" class="control-label">Ende</label> 
					<input id="ende" type="datetime-local" th:field="*{ende}"
					pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} / [0-9]{2}:[0-9]{2}" placeholder="dd-mm-yyyy / hh:mm" />
				</div>
				<p class="error-message" th:each="error: ${#fields.errors('ende')}"
					th:text="${error}">Validation error</p>
			</div>

			<p>
				<input type="submit" value="Erstellen"/>
				<input type="button" value="Zurück" onClick="gotoVeranstaltung()" class="bigButtons"/>
				<script>
					function gotoVeranstaltung()
					{
						window.location.href="../veranstaltung";
					}
				</script>
			</p>
		</form>
	</div>
</body>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</html>