<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lieferung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
    <form action="#" th:action="@{/ntransaktion/{id}(id=${ntransaktion.material.id})}" th:object="${ntransaktion}" method="post">
    
     <h3>Aktuell</h3> 
     <table>
  		<tr>
		    <th>Material</th>
		    <th>Akt.Bestand</th> 
		    <th>Seriennummer</th>
		    <th>Lager</th>  
		  </tr>
		  <tr>
		    <td th:text="${ntransaktion.material.materialtyp.name}"></td>
		    <td th:text="${ntransaktion.material.bestand}"></td>
		    <td th:text="${ntransaktion.material.seriennummer}"></td>
		    <td th:text="${ntransaktion.material.lagerstandort.name}"></td>
		 </tr>
     </table>
     
	<h3>Lieferschein</h3>
		 <p>Art:
	
		  <input type="radio"
           value="eingabe"
           th:field="*{art}"/> Eingabe 
           <input type="radio"
           value="ausgabe"
           th:field="*{art}"/> Ausgabe 
	
	    <div th:if="${param.noart}">
		<div class="alert alert-info">
		Keine Lieferungsart ausgewählt
		</div>
		</div>
     <p>Menge: <input type="number" th:field="*{menge}" /></p>  
     	<div th:if="${param.menge}">
		Menge muss größer als 0 sein
		</div>
     	<div th:if="${param.nomaterial}">
		Nicht genug Material im Lager.
		</div>   
     <p>Lieferungsdatum:<input type="date" th:field="*{lieferungsDatum}" /></p>
     	</div>
     	<div th:if="${param.datum}">
		Lieferungsdatum sollte ausgefühlt werden.
		</div> 
     <p>beschreibung: <input type="text" th:field="*{beschreibung}" /></p>
			
     <p><input type="submit" value="Submit" /> </p>
    </form>
    
		</br>
	<button onclick="goBack()">Abbrechen</button>
	<script>
	function goBack() {
	    window.history.back();
	}
	</script>

</body>
</html>