<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
 	<title>Passwort ändern</title>
 <head th:replace="/fragment/header :: header"></head>	
</head>
	<body class="genBackground">
		<div class="container">
			<h2>Passwort ändern</h2>
		   <div class="row">
		   	<div class="col-50">
					<form action="#" th:action="@{/passwordaenderung}" th:object="${UserCreationDto}" method="post">
					        <table class="mainTable">
					            <thead>
					                <tr>
					                	<th class="CellWithComment"><i class="far fa-question-circle"></i>
											<span class="CellComment" >Mitarbeiter auswählen</span>
										</th>
					                    <th>Username</th>
					                    <th>Password</th>
					                </tr>
					            </thead>
					            <tbody>
									<tr th:each="user, itemStat : *{users}">
									    <td><input type="radio"
									    			name="radiobutton" 
									    			th:value="*{users[__${itemStat.index}__].username}" 
									    			th:onclick="${'inputClick('''+ itemStat.index +''')'}" /></td>
									    <td><label><span th:text="*{users[__${itemStat.index}__].username}"></span></label></td>
									    <td><input type="password" class="passwordField" style="margin-left: 0px;"
									    			name="passwordField" 
									    			th:field="*{users[__${itemStat.index}__].password}" 
									    			th:id="${itemStat.index}" 
									    			disabled/></td>
									</tr>
					            </tbody>
					        </table>
					     <input type="submit" id="submitButton" th:value="Speichern" class="bigButtons" disabled="true"/>
					</form>
					
		            <div th:if="${param.success}">
		                <div class="alert alert-info">
		                    The user password was successfully changed.
		                </div>
		            </div>
		          </div>
		    </div>
		
		</div>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<script>
		    function inputClick(id) {
		        var passwordFields = document.getElementsByClassName("passwordField");
		        for(i = 0; i < passwordFields.length; i++) {
		            passwordFields[i].disabled = true;
		        }
		        document.getElementById(id).removeAttribute('disabled');
		        document.getElementById("submitButton").disabled = false;
		    }
		</script>
	</body>
</html>