<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<style>
			form
			{
  				text-align: center;
			}
		</style>
		<title>Report</title>
	</head>
<body>

	<h1 align="center">Report f&uuml;r informative Ansichten</h1>

	<form name="datePickerForm" action="#" th:action="@{/pdf}" method="post" onsubmit="event.preventDefault(); validateForm();"> 
    	<div>
    		<p>Beginn:	<input name="datePickerBeginn" id="datePickerBeginn" type="date" min="1900-01-01" required></p>
    	</div>
		<div>
    		<p>Ende: 	<input name="datePickerEnde" id="datePickerEnde" type="date" min="1900-01-01" required></p>
    	</div>
    	<span class="validity"></span>
    	<br />
    	<input type="submit" value="PDF Ausgabe erzeugen"/>
	</form>

	<script>
		//Declare variables
		var today = new Date();
		
		// Set values
		$("#datePickerBeginn").val(getFormattedDate(today));
		$("#datePickerEnde").val(getFormattedDate(today));
		
		// Get date formatted as YYYY-MM-DD
		function getFormattedDate (date) {
		    return date.getFullYear()
		        + "-"
		        + ("0" + (date.getMonth() + 1)).slice(-2)
		        + "-"
		        + ("0" + date.getDate()).slice(-2);
		}
		
		function validateForm() {
			var dateBeginn = new Date($('input[name="datePickerBeginn"]').val());
			var dateEnde = new Date($('input[name="datePickerEnde"]').val());
			
			if (dateBeginn.getTime() > dateEnde.getTime()) 
			{
				alert('Ende Datum muss gr&ouml;sser oder gleich Beginn Datum sein!');
		        returnToPreviousPage();
		    }
			else
			{
				document.forms['datePickerForm'].submit();
			}
		 }
	</script>
	</body>
</html>