<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<title>Report</title>
	<head th:replace="/fragment/header :: header"></head>
</head>
<body class="genBackground">
<div class="container">
<h2>Report f&uuml;r informative Ansichten</h2>
	<form name="datePickerForm" action="#" th:action="@{/pdf}" th:target="_blank" method="post" onsubmit="event.preventDefault(); validateForm();">
	<div class="row">
		<div class="col-50">
				<label for="datePickerBeginn" class="control-label">Beginn:</label>
				 <input name="datePickerBeginn" id="datePickerBeginn"	type="date" min="1900-01-01" required>
		</div>
	</div>
	<div class="row">
		 <div class="col-50">
			<label for="datePickerEnde" class="control-label">Ende:</label>
			 <input name="datePickerEnde" id="datePickerEnde" type="date"
					min="1900-01-01" required>
		</div>
	</div>
	<div class="row">
	 <div class="col-50">
		<label for="page-format" class="control-label">Seitenformat:</label>
		<select name="pageFormat" id="page-format">
			<option value="A3">A3</option>
			<option value="A4">A4</option>
		</select>
	</div>
	</div>
	<div class="row">
	 <div class="col-50">
		<label for="Choose" class="control-label">Auswahl:</label>
		<select name="whichReportToPrint" id="Choose">
			<option value="ProStandort">Pro Standort</option>
			<option value="ProVeranstaltungAusgabeschein">Pro
				Veranstaltung Ausgabeschein</option>
			<option value="ProVeranstaltungPackliste">Pro Veranstaltung
				Packliste</option>
		</select>
	</div>
	</div>
	<div class="row">
	<span class="validity"></span> <br /> 
	<input type="submit"	value="PDF Ausgabe erzeugen" />
	</div>
</form>
</div>



<script>
	//Declare variables
	var today = new Date();

	// Set values
	$("#datePickerBeginn").val(getFormattedDate(today));
	$("#datePickerEnde").val(getFormattedDate(today));

	// Get date formatted as YYYY-MM-DD
	function getFormattedDate(date) {
		return date.getFullYear() + "-"
				+ ("0" + (date.getMonth() + 1)).slice(-2) + "-"
				+ ("0" + date.getDate()).slice(-2);
	}

	function validateForm() {
		var dateBeginn = new Date($('input[name="datePickerBeginn"]').val());
		var dateEnde = new Date($('input[name="datePickerEnde"]').val());

		if (dateBeginn.getTime() > dateEnde.getTime()) {
			alert('Ende Datum muss gr&ouml;sser oder gleich Beginn Datum sein!');
			returnToPreviousPage();
		} else {
			document.forms['datePickerForm'].submit();
		}
	}
</script>
</body>
</html>