<html>
<head>
<title>Admin User Verwaltung</title>
</head>
<body>
<h2>Admin-User-Verwaltung</h2>
<div th:unless="${#lists.isEmpty(benutzern)}">
<table class="table table-striped">
<thead>
<tr>
<th>Benutzername</th>
<th>Anzeigename</th>
<th>Dienstnummer</th>
</tr>
</thead>
<dl th:each="benutzer : ${benutzern}">
<tr>
<td th:text="${benutzer.benutzername}">benutzername</td>
<td th:text="${benutzer.anzeigename}">anzeigename</td>
<td th:text="${benutzer.dienstnummer}">dienstnummer</td>
<td>
<form th:action="@{/users/{id}/delete(id=${benutzer.id})}" th:object="${benutzer}" method="post" >
<button type="submit" onclick="return Confirm('sicher?')">DELETE</button>
</form>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(benutzern)}">
<p>Es gibt keinen Benutzer</p>
</div>
<hr/>
</body>