<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<title>Veranstaltung-Einheitentyp</title>
</head>
<body>
<h3>Einen Veranstaltung-Einheitentyp hinzufügen</h3>
<form action="#" th:action="@{/veranstaltungeinheit}" th:object="${veranstaltung_einheitentyp}" method="post">
		
		<p class="error-message"
	    th:if="${#fields.hasGlobalErrors()}"
	    th:each="error : ${#fields.errors('global')}"
 		th:text="${error}">Validation error</p>
 		
	    <div class="form-group"
        th:classappend="${#fields.hasErrors('einheitentyp')}? 'has-error':''">
        <label for="einheitentyp" class="control-label">Einheitentyp</label>
        <select th:field="*{einheitentyp}">
  			<option th:each="einheitentyp : ${alleEinheitentypen}" 
         	 th:value="${einheitentyp.id}" 
       	     th:text="${einheitentyp.name}"></option>
		</select></p>		
		<p class="error-message"
       	th:each="error: ${#fields.errors('einheitentyp')}"
        th:text="${error}">Validation error</p>
       	</div>
       	
       	<div class="form-group"
        th:classappend="${#fields.hasErrors('nummer')}? 'has-error':''">
        <label for="nummer" class="control-label">Num</label>
    	<input type="number" min="1" th:field="*{nummer}" /></p>
   		<p class="error-message"
       	th:each="error: ${#fields.errors('nummer')}"
        th:text="${error}">Validation error</p>
       	</div>
       	
        <p><input type="submit" value="Submit" /> </p>
</form>
<h2>Übersicht Veranstaltungen->Einheitentyp</h2>

<div th:unless="${#lists.isEmpty(verein)}">
<table class="table table-striped">
<thead>
<tr>
<th>Veranstaltung</th>
<th>Einheitentyp</th>
<th>Num</th>
</tr>
</thead>
<dl th:each="veranstaltung_einheitentyp : ${verein}">
<tr>
<td th:text="${veranstaltung_einheitentyp.veranstaltung.name}"></td>
<td th:text="${veranstaltung_einheitentyp.einheitentyp.name}"></td>
<td th:text="${veranstaltung_einheitentyp.nummer}"></td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(verein)}">
<p>Es gibt keine Veranstaltung</p>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Die neue Veranstaltung wurde erfolgreich eingetragen!
                </div>
            </div>
		    <div th:if="${param.loeschen}">
                <div class="alert alert-info">
                    Die Veranstaltung wurde erfolgreich gelöscht!
                </div>
            </div>           
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>