<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="@{${@environment.getProperty('matilda.events')}}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
 	<link rel="stylesheet" th:href="@{/css/index.css}"/>
 	<link rel="import" href="/fragment/topnav.html">
</head>
	<body>
		<head th:replace="/fragment/header :: header"></head>	
		<div th:replace="/fragment/footer :: footer"></div>
<a href="#" data-th-href="@{/neuveranstaltung}">Eine neue Veranstaltung hinzufügen</a>
<h2>Übersicht Veranstaltungen</h2>
<div th:unless="${#lists.isEmpty(veranstaltungen)}">
<table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Lagerstandort</th>
<th>Beginn</th>
<th>Ende</th>
<th>Zustand</th>
<th>Ersteller</th>
</tr>
</thead>
<dl th:each="veranstaltung : ${veranstaltungen}">
<tr>
<td th:text="${veranstaltung.name}"></td>
<td th:text="${veranstaltung.lagerstandort.name}"></td>
<td th:text="${veranstaltung.beginn}"></td>
<td th:text="${veranstaltung.ende}"></td>
<td th:text="${veranstaltung.zustand}"></td>
<td th:text="${veranstaltung.modifiedBy}"></td>
<td>
<a href="#" data-th-href="@{/veranstaltungupdate/{id}(id=${veranstaltung.id})}">&Auml;ndern</a>
</td>
<td>
<a href="#" data-th-href="@{/veranstaltungeinheit/{id}(id=${veranstaltung.id})}"> -> Einheitentyp</a>
</td>
<td>
<a href="#" data-th-href="@{/veranstaltungbuchung/{id}(id=${veranstaltung.id})}"> -> Buchen</a>
</td>
<td>
<a href="#" data-th-href="@{/veranstaltunggebucht/{id}(id=${veranstaltung.id})}">Gebuchte Materialien</a>
</td>

</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(veranstaltungen)}">
<p>Es gibt keine Veranstaltung</p>
</div>
<hr/>
<div class="container">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Die neue Veranstaltung wurde erfolgreich eingetragen!
                </div>
            </div>
            <div th:if="${param.loeschen}">
                <div class="alert alert-info">
                    Die Veranstaltung wurde erfolgreich gelöscht!
                </div>
            </div>           
            <div th:if="${param.gebucht}">
                <div class="alert alert-info">
                    Die Veralstaltung wurde schon gebucht!
                </div>
            </div>    
            <div th:if="${param.einheit}">
                <div class="alert alert-info">
                    Für diese Veralstaltung wurde noch keinen Einheitentyp zugewiesen!
                </div>
            </div>
            <div th:if="${param.material}">
                <div class="alert alert-info">
                    Es gibt kein Eintrag in der Tabelle: Materialtyp-Einheitentyp!
                </div>
            </div>
            <div th:if="${param.lager}">
                <div class="alert alert-info">
                    Es gibt kein benötigtes Material im Lager!
                </div>
            </div>
             <div th:if="${param.nobuchung}">
                <div class="alert alert-info">
                    Kein Material für die Veranstaltung gebucht: Kein Wunschmaterial ausgewählt!
                </div>
            </div>
              <div th:if="${param.nozuweisung}">
                <div class="alert alert-info">
                    Zuweisung eines Einheitentyps ist nur im Zustand "In Bearbeitung" möglich!
                </div>
            </div>
             <div th:if="${param.nogebucht}">
                <div class="alert alert-info">
                    Für diese Veranstaltung wurde noch kein Material gebucht!
                </div>
            </div>
            <div th:if="${param.storniert}">
                <div class="alert alert-info">
                   	Gebuchte Materialien wurde storniert.
                </div>
            </div>
            
</div>
</body>
</html>