<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="@{${@environment.getProperty('matilda.events')}}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
 	<link rel="import" href="/fragment/topnav.html">
 	<head th:replace="/fragment/header :: header"></head>
</head>
	<body>
<h2>Buchung für Veranstaltung</h2>

<table class="mainTable">
<tr>
<th>Einheitentyp</th>
<th>Materialtyp</th>
<th>Standardmenge</th>
<th>Wunschmaterial</th>
<th>Wunschmenge</th>
</tr>

<tr  th:each="vb : ${veranstaltungBuchungWrapper.buchungList}">

<td th:text="${vb.getEinheitentyp().getName()}"></td>	
<td th:text="${vb.getMaterialtyp().getName()}"></td>
<td th:text="${vb.getStandardMenge()}"></td>
<td th:text="${vb.getWunschMaterial()}"></td>
<td th:text="${vb.getWunschMenge()}"></td>
<td>
<a href="#" data-th-href="@{/veranstaltungbuchungupdate/{id}(id=${vb.id})}">
<input type="button" value="Bearbeiten" class="buttons"/>
</a>
</td>		
</tr>
</table>
<form action="#" th:action="@{/veranstaltungbuchung}" th:object="${veranstaltungBuchung}" method="post">
<p><input type="submit" value="Buchen" class="bigButtons" /> </p>
</form>
<div class="container">
			<div th:if="${param.nomaterial}">
				<div class="alert alert-info">Kein Material vorhanden</div>
			</div>
</div>
</body>
</html>