<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<title>Veranstaltung</title>
</head>
<body>
<h2>Veranstaltungen List</h2>

<form>
<input type="button" value="eine neue Veranstaltung hinzuf&uuml;gen" onclick="window.location.href='veranstaltung'" />
</form>

<div th:unless="${#lists.isEmpty(veranstaltungen)}">
<table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Beginn</th>
<th>Ende</th>
<th>Ersteller</th>
</tr>
</thead>
<dl th:each="veranstaltung : ${veranstaltungen}">
<tr>
<td th:text="${veranstaltung.name}"></td>
<td th:text="${veranstaltung.beginn}"></td>
<td th:text="${veranstaltung.ende}"></td>
<td th:text="${veranstaltung.modifiedBy}"></td>
<td>
<a href="#" data-th-href="@{/veranstaltungupdate/{id}(id=${veranstaltung.id})}">&Auml;ndern</a>
</td>
<td>
<a href="#" data-th-href="@{/veranstaltungupdate/{id}/loeschen(id=${veranstaltung.id})}">Löschen</a>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(veranstaltungen)}">
<p>Es gibt keine Veranstaltung</p>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Die neue Veranstaltung wurde erfolgreich eingetragen!
                </div>
            </div>
		    <div th:if="${param.loeschen}">
                <div class="alert alert-info">
                    Die Veranstaltung wurde erfolgreich gelöscht!
                </div>
            </div>
            
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>