<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Einheitentyp Aktualisieren</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Einheitentyp</h1>
    <form action="#" th:action="@{/veranstaltungeinheitupdate/{id}(id=${veranstaltung_einheitentyp.id})}" th:object="${veranstaltung_einheitentyp}" method="post">
    
	    <p class="error-message"
	    th:if="${#fields.hasGlobalErrors()}"
	    th:each="error : ${#fields.errors('global')}"
 		th:text="${error}">Validation error</p>
                   
		<div class="form-group"
        th:classappend="${#fields.hasErrors('einheitentyp')}? 'has-error':''">
        <label for="einheitentyp" class="control-label">Einheitentyp</label>
        <select th:field="*{einheitentyp}">
  			<option th:each="einheitentyp : ${alleEinheitentypen}" 
         	 th:value="${einheitentyp.id}" 
       	     th:text="${einheitentyp.name}"></option>
		</select></p>
		<p class="error-message"
       	th:each="error: ${#fields.errors('einheitentyp')}"
        th:text="${error}">Validation error</p>
       	</div>
       	
       	<div class="form-group"
        th:classappend="${#fields.hasErrors('bezeichnung')}? 'has-error':''">
        <label for="bezeichnung" class="control-label">Bezeichnung</label>
    	<input type="text" th:field="*{bezeichnung}" /></p>
   		<p class="error-message"
       	th:each="error: ${#fields.errors('bezeichnung')}"
        th:text="${error}">Validation error</p>
       	</div>
       	
        <p><input type="submit" value="Submit" /> </p>
        <td>
    </form>
    <form th:action="@{/veranstaltungeinheitupdate/{id}/loeschen(id=${veranstaltung_einheitentyp.id})}" th:object="${veranstaltung_einheitentyp}" method="post" >
		<button type="submit" onclick="return Confirm('sicher?')">L&ouml;schen</button>
	</form>
	<button onclick="goBack()">Abbrechen</button>
	<script>
	function goBack() {
	    window.history.back();
     }
	</script>
</body>
</html>